@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
  font-family: "Manufaktur-Black";
  src: url("../assets/fonts/Manufaktur-Black.ttf");
}

@font-face {
  font-family: "Manufaktur-Medium";
  src: url("../assets/fonts/Manufaktur-Medium.ttf");
}

@font-face {
  font-family: "Manufaktur-Light";
  src: url("../assets/fonts/Manufaktur-LightIt.ttf");
}

@font-face {
  font-family: "icomoon";
  src: url("/assets/icomoon/fonts/icomoon.eot");
  src: url("/assets/icomoon/fonts/icomoon.eot") format("embedded-opentype"),
    url("/assets/icomoon/fonts/icomoon.ttf") format("truetype"),
    url("/assets/icomoon/fonts/icomoon.woff") format("woff"),
    url("/assets/icomoon/fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 25px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-DiceFive:before {
  content: "\e905";
}
.icon-XCircle:before {
  content: "\e909";
}
.icon-Card:before {
  content: "\e904";
}
.icon-BookOpenText:before {
  content: "\e900";
}
.icon-Bug:before {
  content: "\e901";
}
.icon-CaretDown:before {
  content: "\e902";
}
.icon-CaretLeft:before {
  content: "\e903";
}
.icon-Detective:before {
  content: "\e90a";
}
.icon-Prohibit:before {
  content: "\e906";
}
.icon-ShieldCheck:before {
  content: "\e907";
}
.icon-SquaresFour:before {
  content: "\e908";
}

:root {
  --black-100: hsl(120, 2%, 10%);

  --white-1000: hsl(0, 0%, 100%);
}
body {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1280px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 760px) {
    max-width: 300px;
  }

  @media (min-width: 760px) and (max-width: 980px) {
    max-width: 660px;
  }

  @media (min-width: 980px) and (max-width: 1440px) {
    max-width: 990px;
  }
}

h1 {
  font-family: "Manufaktur-Black";
  font-size: 4.5rem;
  line-height: 1;

  @media (max-width: 760px) {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}

h2 {
  font-size: 3rem;
  line-height: 3rem;

  @media (max-width: 760px) {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

/* header */
header {
  background-color: var(--black-100);
  color: var(--white-1000);
  max-width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  padding: 40px;
  margin-top: 20px;
  border-radius: 30px;
  background-image: url("/assets/images/header-background.jpg");
  background-size: cover;
  background-position: top;
  gap: 40px;

  @media (max-width: 760px) {
    max-width: 80%;
    margin: 20px;
  }
}

.header-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
}

#header-content_title {
  max-width: 50%;
  min-width: 34%;
  height: 100%;

  @media (max-width: 760px) {
    max-width: 88%;
  }
}

.header-content_title-tcu {
  max-width: 40%;

  @media (max-width: 760px) {
    max-width: 100%;
  }
}

#filters {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
  margin-top: 48px;
  @media (max-width: 760px) {
    flex-direction: column;
    margin-top: 28px;
  }
}

#filters_button {
  display: flex;
  gap: 16px;
  justify-items: flex-start;

  @media (max-width: 760px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 6px;
    justify-content: center;
    width: 100%;
  }
}

#filters_sort {
  display: flex;
  gap: 16px;
  justify-items: flex-start;
  align-items: center;

  @media (max-width: 760px) {
    justify-content: space-between;
    width: 100%;
  }
}

#sort {
  padding: 8px 20px;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  background-color: white;
}

button {
  font-weight: 400;
  font-size: 16px;
  background-color: var(--white-1000);
  color: var(--black-100);
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  border-radius: 7px;
  height: 40px;
  width: fit-content;
  padding: 4px 10px;
  gap: 10px;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: var(--black-100);
    color: var(--white-1000);
  }
}

.active-category {
  background-color: var(--black-100);
  color: var(--white-1000);
}

.link-button {
  background-color: hsl(193, 64%, 67%);
  font-weight: 500;
  color: hsl(193, 64%, 20%);
  font-size: 16px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  border-radius: 7px;
  height: 40px;
  width: fit-content;
  padding: 4px 16px;
  gap: 10px;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: hsl(193, 64%, 50%);
    color: hsl(193, 64%, 10%);
  }
}

.focus-btn {
  background-color: var(--black-100);
  color: var(--white-1000);
}

#card-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;

  @media (max-width: 760px) {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}

.flip-card {
  background-color: transparent;
  min-width: 249px;
  min-height: 347px;
  border: none;
  perspective: 1000px;
  margin: 4px auto;
  flex: 0 1 calc(20% - 1em);
  transition: all 0.2s ease-in-out;
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.3));

  &:hover {
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.06)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.6));
    transform: scale(1.04);
    z-index: 1;
  }

  @media (max-width: 760px) {
    display: flex;
    flex-direction: column;
    flex: none;
    min-width: 97px;
    min-height: 139px;
    justify-content: center;
    align-items: center;
    margin: 2px auto;
  }
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);

  @media only screen and (max-width: 980px) {
    transform: none;
  }
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;

  @media (max-width: 760px) {
    border-radius: 0px;
  }
}

.flip-card-back {
  background-color: #373736;
  color: white;
  transform: rotateY(180deg);
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 980px) {
    display: none;
    transform: none;
  }
}

.flip-card-back_title {
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-family: "Manufaktur-Black";
}

#searchbar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  padding: 10px 100px 10px 10px;
  border-radius: 20px;
  border: 1px solid rgb(197, 197, 197);
  height: 20px;
  margin-top: 48px;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

@media only screen and (max-width: 980px) {
  .header .header-content .header-right .header-searchbar {
    display: none;
  }
}

.header-searchbar {
  position: relative;
}

.header-searchbar #searchbar {
  position: relative;
}
.header-searchbar .searchbar-icon {
  position: absolute;
  top: 8px;
  right: 11px;
  height: 15px;
}
@media only screen and (max-width: 980px) {
  .header-searchbar {
    display: none;
  }
}

@media only screen and (max-width: 980px) {
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 86%;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    text-align: center;
    position: relative;
  }
  .shining-card {
    position: relative;
  }
  #modal-img {
    width: 76%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 20% auto;
    margin-bottom: 32px;
    position: relative;
  }

  .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    cursor: pointer;
  }

  .modal-info {
    display: flex;
    gap: 12px;
  }

  /* #modal-title { 
     margin: 32px;
  } */

  #modal-number,
  #modal-dice {
    font-family: "Roboto", sans-serif;
    padding: 4px 16px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    width: fit-content;
    gap: 12px;
    border: solid 1px #9e9e9e;
    align-items: center;
  }

  @keyframes tilt-shaking {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(5deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(-5deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .flip-card.tilt-shake {
    animation: tilt-shaking 0.5s ease-out;
  }
}

@keyframes typing {
  0% {
    content: "a";
  }
  1.8182% {
    content: "an";
  }
  3.6364% {
    content: "and";
  }
  5.4545% {
    content: "and ";
  }
  7.2727% {
    content: "and b";
  }
  9.0909% {
    content: "and be";
  }
  10.9091% {
    content: "and bec";
  }
  12.7273% {
    content: "and beco";
  }
  14.5455% {
    content: "and becom";
  }
  16.3636% {
    content: "and become";
  }
  18.1818% {
    content: "and become ";
  }
  20% {
    content: "and become a";
  }
  22% {
    content: "and become a ";
  }
  24% {
    content: "and become a s";
  }
  26% {
    content: "and become a sp";
  }
  28% {
    content: "and become a spe";
  }
  30% {
    content: "and become a spec";
  }
  32% {
    content: "and become a speci";
  }
  34% {
    content: "and become a specia";
  }
  36% {
    content: "and become a special";
  }
  38% {
    content: "and become a speciali";
  }
  40% {
    content: "and become a specialis";
  }
  42% {
    content: "and become a specialist";
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.typewriter {
  --caret: currentcolor;
}

.typewriter::before {
  content: "";
  animation: typing 4s infinite;
}

.typewriter::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}

.typewriter.thick::after {
  border-right: 1ch solid var(--caret);
}

.typewriter.nocaret::after {
  border-right: 0;
}

@media (prefers-reduced-motion) {
  .typewriter::after {
    animation: none;
  }

  @keyframes sequencePopup {
    0%,
    100% {
      content: "Learn more about the deck and become a specialist";
    }
  }

  .typewriter::before {
    content: "Learn more about the deck and become a specialist";
    animation: sequencePopup 5s linear infinite;
  }
}
